section{
    margin-top: 15vh
}
.example-card {
    max-width: 250px;
    max-height: 453px;
    margin: 16px;

}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-card{
    display:flex;
    flex-direction: column;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0; 
}
.mat-card-content{
    flex-grow: 1;
    overflow: hidden; 
}